[submodule ".config/awesome"]
	path = .config/awesome
	url = https://github.com/yilkalargaw/awesome_config.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/yilkalargaw/yet-another-emacs.git
