[submodule "graphic/.config/awesome"]
	path = graphic/.config/awesome
	url = https://github.com/yilkalargaw/awesome_config.git
[submodule ".emacs.default"]
	path = .emacs.default
	url = https://github.com/yilkalargaw/yet-another-emacs.git
[submodule "chemacs2"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
