! Two usable terminfo names are xterm and xterm-256color
xterm.termName: xterm-256color

! Use a nice truetype font and size by default... 
xterm*faceName: DejaVu Sans Mono
xterm*faceSize: 9


! VT Font Menu: Unreadable
xterm*faceSize1: 8
! VT font menu: Tiny
xterm*faceSize2: 10
! VT font menu: Medium
xterm*faceSize3: 12
! VT font menu: Large
xterm*faceSize4: 16
! VT font menu: Huge
xterm*faceSize5: 22

! add some padding
xterm*internalBorder: 18

! adjust line spacing
XTerm.vt100.scaleHeight: 1.01

! default size
xterm*geometry: 86x20



!! Scrolling ========================================================
! Use: Shift-Pageup / Shift-Pagedown to scroll or mousewheel
! Lines of output that you can scroll back over
xterm*saveLines: 16384

! Turn the scrollbar on, and put it on the right
  xterm.vt100.scrollBar: false
! xterm.vt100.scrollbar.width: 8
  Xterm*scrollBar: false
  Xterm*rightScrollBar: false

! Ensure that your locale is set up for UTF-8. If you do not use UTF-8, you may need to force xterm to more strictly follow your locale by setting
xterm.vt100.locale: true

! ! To force UTF-8, set 
! xterm.vt100.locale: false
! xterm.vt100.utf8: true

!! Selecting Text ========================================================
! Only select text
xterm*highlightSelection: true
! Remove trailing spaces
xterm*trimSelection: true


!! Keybinding ========================================================
! http://blog.rot13.org/2010/03/change-font-size-in-xterm-using-keyboard.html
! - change fontsize on the fly (ctrl+plus = increase ; ctrl+minus = decrease, ctrl+0 = default)
! - copy/paste hotkey (ctrl+shift+c = copy ; ctrl+shift+v = paste)
! - open url (clickable links)
!   1) double click to highlight the full url
!   2) Shift + click it to open it
xterm.vt100.translations: #override \n\
  Ctrl <Key> minus: smaller-vt-font() \n\
  Ctrl <Key> plus: larger-vt-font() \n\
  Ctrl <Key> 0: set-vt-font(d) \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Shift <Btn1Up>: exec-formatted("xdg-open '%t'", PRIMARY) \n\
  <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0) \n\
  <Btn2Up>: insert-selection(PRIMARY)

! enable copy/paste hotkey to work (shift+insert = paste ; mouse highlight = copy)
xterm*selectToClipboard: true
! disable fullscreen hotkey alt+enter (hotkey conflicts with weechat, midnight commander ...etc)
xterm*fullscreen: never
! enable alt key to work
xterm*metaSendsEscape: true
! Fix the backspace key (for Emacs)
xterm.vt100.backarrowKey: false
xterm.ttyModes: erase ^?


! double-click to select whole URLs :D
xterm*charClass: 33:48,36-47:48,58-59:48,61:48,63-64:48,95:48,126:48

! Base16 OneDark
! Scheme: Lalit Magant (http://github.com/tilal6991)

! #define base00 #282c34
! #define base00 #2e3440
#define base00 #292d3e
#define base01 #353b45
#define base02 #3e4451
#define base03 #545862
#define base04 #565c64
! #define base05 #abb2bf
! #define base05 #e5e9f0
#define base05 #adb7ec
#define base06 #b6bdca
#define base07 #c8ccd4
#define base08 #e06c75
#define base09 #d19a66
#define base0A #e5c07b
#define base0B #98c379
#define base0C #56b6c2
#define base0D #61afef
#define base0E #c678dd
#define base0F #be5046

*foreground:   base05
! #ifdef background_opacity
! *background:   [background_opacity]base00
! #else
*background:   base00
! #endif
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

! Note: colors beyond 15 might not be loaded (e.g., xterm, urxvt),
! use 'shell' template to set these if necessary
*color16:      base09
*color17:      base0F
*color18:      base01
*color19:      base02
*color20:      base04
*color21:      base06
